@{
    ViewData["Title"] = "Home Page";
    int order = 1;
}
@model HomeVM 


<main class="container">
    <h1 class="text-center my-3">Ikili Qruplar</h1>
    <article class="">
        <div >
           <a asp-action="shuffle" asp-controller="student" class="btn btn-outline-dark my-2">Qarışdır</a>
        </div>


        <table class="table table-dark table-hover">

            <tbody>
                @foreach (var stud in Model.Students)
                {
                    <tr>
                        <th scope="row">@order</th>
                        <td>@stud.Name</td>
                        <td>@stud.PairStudent?.Name</td>
                    </tr>
                    order++;
                }
               
            </tbody>
        </table>

    </article>
</main>
